{% extends 'base.html' %}

{% block title %}
Formas
{% endblock %}

{% block center %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_F&F.css" rel="stylesheet" />


<section class="container-fluid p-0">

    <section class="container p-0 mt-5" id="intro">
        <div>
            <h1><strong>Formas</strong></h1>
            <img class="img-fluid" src="../static/css/img/IntroFormas.svg" alt="Imagem de apresentação de formas">
        </div>

        <div class="col-md-12 text-justify">
            <p>O discurso do outro pode ser citado de várias formas. Assim como formas
                geométricas, as formas de menção à voz de outrem também se diferenciam
                por características e particularidades (que, em outra seção,
                demonstraremos agirem em conjunto com suas funcionalidades no texto acadêmico).
                Traremos exemplos para vocês das modalidades de
                <strong>evocação</strong>, <strong>reformulação</strong>, <strong>citação autônoma</strong>
                e <strong>ilhota citacional</strong>. No tópico <strong>EXEMPLOS</strong>
                a seguir, essas modalidades e suas aplicações são melhor demonstradas
                para que você compreenda melhor.
            </p>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    {% for forma in formas %}

    <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-center p-4">
            <img class="img-fluid ImagensFormas" src="{{ forma.imagem.url }}" alt="Imagem ilustrativa para a forma">
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4" style="width: 80%;">
            <h3>{{ forma.nome }}</h3>
            <div class="mt-4 text-justify TextosFormas">
                <p>{{ forma.descricao }}</p>
                <p><strong>{{ forma.citacao }}</strong></p>
                <p>{{ forma.referencia }}</p>
                <p>{{ forma.explicacao }}</p>
            </div>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    {% endfor %}

    <section class="p-0 mt-5" id="intro">
        <h1><strong>Integral e não integral</strong></h1>
        <img class="img-fluid" src="../static/css/img/IntroIntegral.svg"
            alt="Imagem de apresentação de marcações integrais e não integrais">
        <br><br>
        <div>
            <p>As citações podem ainda ser inseridas de acordo com diferentes intencionalidades a partir da gramática.
                Nessa
                perspectiva, o discurso do outro pode se inserir no texto a partir de diferentes marcações linguísticas
                e gramaticais, ou
                seja, pode estar inserido na frase de diferentes formas. A seguir, vejamos alguns exemplos de citações
                <strong>integrais</strong> e <strong>não
                    integrais</strong>, conforme proposto nos estudos de Swales (1990):<br>
                <br>
                <strong>ATENÇÃO:</strong> As citações presentes nos excertos aqui utilizados foram adequadas às
                atualizações da NBR 10520, feitas
                pela Associação Brasileira de Normas Técnicas (ABNT).
            </p>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-left p-4" style="width: 80%;">
            <h3>Citação integral</h3>
            <div class="mt-4 text-justify TextosFormas">
                <p>Na citação integral, temos a voz citada como parte da gramática da frase, ou
                    seja, o autor citado é parte da frase e de seu sentido. No exemplo a seguir,
                    podemos perceber que ‘Araújo (2000)’ é um sujeito dentro da própria frase, o
                    que colabora para que seja dado um foco maior ao autor citado em vez de
                    apenas voltar a ênfase ao conteúdo do trabalho referenciado.</p>
                <p><strong>“[...] No entanto, Araújo (2000) comenta que tanto o discurso da seca, como
                        o das belas praias do Nordeste ainda persistem no contexto de uma
                        economia fragmentada em meio à permanência de incentivos fiscais
                        coorporativizados pelo setor agroindustrial através da mundialização da
                        economia, onde a atuação do Estado continua a agir seletivamente sobre o
                        espaço.” (Mendes, 2008)</strong></p>
                <p>MENDES, M. F. A mobilidade territorial dos trabalhadores da construção civil na produção da
                    verticalização no bairro Aldeota em Fortaleza. 2008. 179 f. Dissertação (Mestrado em
                    Geografia) - Centro de Ciências, Universidade Federal do Ceará, Fortaleza, 2008.</p>
            </div>
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4">
            <img class="img-fluid ImagensFormas" src="../media/imagens/integral.png"
                alt="Imagem ilustrativa para a citação integral">
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    <section class="row justify-content-center align-items-center mb-5">
        
        <div class="col-md-5 col-lg-5 text-center p-4">
            <img class="img-fluid ImagensFormas" src="../media/imagens/não_integral.png"
                alt="Imagem ilustrativa para a forma">
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4" style="width: 80%;">
            <h3>Citação não integral</h3>
            <div class="mt-4 text-justify TextosFormas">
                <p>Nesse tipo de citação, o autor e data correspondentes ao trabalho não são
                    inseridos na gramática da frase, sendo, portanto, isolados entre parênteses. No
                    exemplo a seguir, vemos que a citação autônoma feita de forma não integral dá
                    mais credibilidade ao próprio conteúdo referenciado, ou seja, traz o foco para a
                    ideia a ser explicada, em vez de destacar o autor citado.</p>
                <p><strong>“Da mesma forma, ‘o corredor da Bezerra de Meneses destaca-se pela
                        oferta de serviços e comércio, tanto durante o dia como à noite. Dentre os
                        equipamentos, destacam-se a estação ferroviária do Otávio Bonfim, o
                        Instituto dos Cegos, a Secretaria de Agricultura o North Shopping’ (Lopes,
                        2006, p. 164).” (Mendes, 2008)</strong></p>
                <p>MENDES, M. F. A mobilidade territorial dos trabalhadores da construção civil na produção da
                    verticalização no bairro Aldeota em Fortaleza. 2008. 179 f. Dissertação (Mestrado em
                    Geografia) - Centro de Ciências, Universidade Federal do Ceará, Fortaleza, 2008.</p>
            </div>
        </div>
    </section>
</section>

{% endblock %}