{% extends 'base.html' %}

{% block title %}
Funções
{% endblock %}

{% block center %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_F&F.css" rel="stylesheet" />


<section class="container-fluid p-0">

    <section class="container p-0 mt-5" id="intro">
        <div>
            <h1><strong>Funções</strong></h1>
            <img class="img-fluid mb-3" src="../static/css/img/IntroFuncoes.svg" alt="Imagem de apresentação de funções">
        </div>
        <div class="col-md-12 text-justify">
            <p> Assim como cada uma das células do nosso corpo tem uma função, as menções à
                voz de outrem em textos acadêmicos também assumem suas próprias funções, isto é,
                são utilizadas por aquele que referencia em busca de diferentes sentidos e propósitos. Segundo Boch e
                Grossmann (2002), o uso do discurso do outro pode assumir características que se resumem às seguintes
                categorias:
            </p>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    {% for funções in funções %}

    <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-center p-4">
            <img class="img-fluid ImagensFormas" src="{{ funções.imagem.url }}" alt="Imagem ilustrativa para a função">
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4" style="width: 80%;">
            <h3>{{ funções.nome }}</h3>
            <div class="mt-4 text-justify TextosFormas">
                <p>{{ funções.descricao }}</p>
                <p><strong>{{ funções.citacao }}</strong></p>
                <p>{{ funções.referencia }}</p>
            </div>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    {% endfor %}
</section>

{% endblock %}