{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block center %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_Index.css" rel="stylesheet" />

<h1><strong>Seja bem-vindo(a) ao MamaCita!</strong></h1>
<div class="container">
    <img class="img1" src="../static/css/img/boas-vindas.svg" alt="Aspinha (personagem do site) dando boas-vindas!"
        width="50%">
    <div>
        <div class="texto">
            <br>
            <p>
                Seu novo aliado acadêmico. O gerenciamento de vozes da ciência e a
                importância de trabalhos científicos explicados de forma clara para você.<br><br>

                Um projeto sem fins lucrativos que visa a auxiliar os estudantes
                (especialmente os que ainda estão se iniciando no meio científico) nas
                práticas acadêmicas em prol da ciência.
            </p>
        </div>
    </div>
</div>

<section>
    <div id="boxazul">
        <div class="caixasDeTexto" id="center">
            <div id="center">
                <p id="TextoBoxAzul">
                    Referir-se ao discurso de especialistas na área de seu projeto, por exemplo, dá uma maior
                    credibilidade ao trabalho acadêmico e confiança de que o estudo realizado tem um impacto
                    importante para a sociedade.
                </p>
            </div>
        </div>
    </div>
</section>




<section class="col-md-12">
    <h2 class="titulo2">O que você encontrará por aqui:</h2>
    <div class="container2">
        <div class="row justify-content-center align-items-center">
            <div class="circle">
                <p class="predondo"><strong class="topP">Conteúdo confiável</strong><br><br> Estamos trabalhando
                    enquanto cientistas da linguagem ao lado de pesquisadores
                    experientes da linguística para promover um conteúdo que lhe auxilie academicamente.</p>
            </div>
            <div class="circle">
                <p class="predondo"><strong class="topP">Layout dinâmico</strong><br><br> A dinamicidade do
                    site foi pensada especialmente para facilitar seu processo de aprendizagem e absorção de
                    informação.</p>
            </div>
            <div class="circle">
                <p class="predondo"><strong class="topP">Pensado para o estudante</strong><br><br> O conteúdo do site
                    abrange
                    necessidades e práticas objetivas do escritor iniciante, considerando também possíveis desafios e
                    dúvidas
                    na escrita do texto acadêmico e gerenciamento da literatura científica.
                </p>
            </div>
        </div>
    </div>
</section>



<hr style="width: 90%; margin: auto; margin-bottom: 90px;">

<div class="container3 col-10" id="marginTop">

    <div>
        <div class="TextosInicio" id="TextosInicio">
            <br>
            <h2>Vamos falar um pouco sobre a importância de citar?</h2>
            <p>
                Feak e Swales (2009 apud MOTTA-ROTH; HENDGES, 2010) trazem a
                possibilidade de comparar a referência à literatura prévia como anões
                sobre ombros de gigantes, considerando a oportunidade para que se
                “enxergue mais longe” a partir de trabalhos científicos anteriores.
                Além disso, Motta-Roth e Hendges (2010) também nos apontam que a
                referência pode ser compreendida como uma questão básica da ética
                acadêmica, principalmente se levarmos em conta como é confiável se
                apoiar em estudos científicos prévios.
            </p>
        </div>
    </div>
    <img class="img3" src="../static/css/img/ombro.svg" alt="Anões nos ombros de gigantes." width="50%">
</div>

<hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

<div class="container4 col-10" id="marginTop">
    <img class="img3" src="../static/css/img/coracao.svg" alt="Aspinha (personagem do site) abrançando um coração."
        width="50%">

    <div>
        <div class="TextosInicio2" id="TextosInicio2">
            <br>
            <h2>Como surgiu o MamaCita?</h2>
            <p>
                A ideia do MamaCita surgiu a partir da produção de um Projeto Integrador de estudantes do
                Curso Técnico de Informática Integrado ao Ensino Médio do IFRN. A sua temática, voltada para
                um conteúdo acadêmico e informacional de auxílio para escritores iniciantes, nos foi
                apresentada em grupos de Iniciação Científica, nos quais estudávamos sobre linguística e
                gerenciamento de vozes da ciência. Unindo o útil ao agradável, o MamaCita surge como um
                aliado acadêmico. Seu nome remete ao primeiro contato, aos conhecimentos passados de forma
                acolhedora, ao mecanismo da linguagem no próprio ato de citar. O MamaCita, afinal, é sobre
                educação e ciência.
            </p>
        </div>
    </div>
</div>
{% endblock %}