{% extends 'base.html' %}

{% block title %}
Para saber mais
{% endblock %}

{% block center %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_PSM.css" rel="stylesheet" />

<section class="container-fluid p-0">

    <section class="container p-0 mt-5" id="intro">
        <div>
            <h1><strong>Para saber mais</strong></h1>
            <img class="img-fluid mb-3" src="../static/css/img/IntroParaSaberMais2.svg" alt="Imagem 
            ilustrativa para introduzir o assunto da tela 'para saber mais'">
            <div class="col-md-12 text-justify">
                <p>
                    Aqui você encontra links úteis de <strong>sites</strong> e <strong>ferramentas</strong> para lhe
                    <strong>auxiliar</strong>
                    em citações e gerenciamento de referências bibliográficas, além de indicações de onde você encontra
                    as
                    principais fontes teóricas que estão neste site!
                </p>
            </div>
    </section>

    <!-- <section class="p-0 mt-5 container" id="intro">
        <div class="col-md-10 m-0">
            <h1><strong>Para saber mais</strong></h1>
            <img class="img-fluid" src="../static/css/img/IntroParaSaberMais2.svg" alt="Imagem 
        ilustrativa para introduzir o assunto da tela 'para saber mais'" width="50%">
            <div>
                <p>
                    Links úteis de <strong>sites</strong> e <strong>ferramentas</strong> para lhe
                    <strong>auxiliar</strong>
                    em citações e gerenciamento de referências bibliográficas!
                </p>
            </div>
        </div>
    </section> -->



    <!-- <h1><strong>Para saber mais</strong></h1>
    </section>

    <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-center p-4">
            <img class="img-fluid" src="../static/css/img/IntroParaSaberMais2.svg"
                alt="Imagem ilustrativa para introduzir o assunto da tela 'para saber mais'">
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4 text-justify" style="width: 80%;">
            <p>
                Links úteis de <strong>sites</strong> e <strong>ferramentas</strong> para lhe <strong>auxiliar</strong>
                em citações e gerenciamento de referências bibliográficas!
            </p>
        </div> -->

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 30px; background-color: #0284C7;">

    <section class="container px-4 px-lg-5 mt-3 m-0 p-0 col-md-12">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-sx-1">
            {% for sites in sites %}
            <div class="col-md-6 mb-5 row d-flex justify-content-center">
                <div class="card" style="width: 22rem; background-color: #fdf4ff;">
                    <img class="card-img-top" src="{{ sites.imagem.url }}" alt="Imagem de capa do card">
                    <div class="card-body text-justify">
                        <h5 class="card-title">{{ sites.nome }}</h5>
                        <p class="card-text">{{ sites.descricao }}</p>
                        <a href="{{ sites.link }}" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- <div class="container px-4 px-lg-5 mt-3 m-0">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-sx-1 justify-content-center">
            {% for plagios in plagios %}
            <div class="col-md-6 mb-5">
                <div class="card" style="width: 18rem; background-color: #fdf4ff;">
                    <img class="card-img-top" src="{{ plagios.imagem.url }}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ plagios.nome }}</h5>
                        <p class="card-text">{{ plagios.descricao }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->

    <section class="container">
        <div class="justify-content-center text-center d-flex mt-5 mb-2">
            <h2><strong>Estudos na área</strong></h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 col-lg-5 text-center p-4">
                <img class="img-fluid" src="../static/css/img/Estudos.svg"
                    alt="Imagem ilustrativa para introduzir estudos">
            </div>
            <div class="col-md-5 col-lg-5 p-0 row justify-content-center align-items-center">
                <div class="mt-4 text-justify" style="width: 80%;">
                    <p>Para que você se aprofunde mais no referencial
                        teórico utilizado nesse site, trazemos nessa página os principais
                        nomes que tomamos para estudos e suas respectivas produções: sejam artigos
                        ou livros. Além de uma breve síntese dos trabalhos que tomamos como bases,
                        ao fim de cada uma delas haverá um link de acesso ao download ou página
                        de pesquisa dos estudos correspondentes.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-center p-4">
            <img class="img-fluid ImagensFormas" src="{{ forma.imagem.url }}" alt="Imagem ilustrativa para a forma">
        </div>
        <div class="mt-4 col-md-5 col-lg-5 p-4" style="width: 80%;">
            <h3>{{ forma.nome }}</h3>
            <div class="mt-4 text-justify TextosFormas">
                <p>{{ forma.descricao }}</p>
                <p><strong>{{ forma.citacao }}</strong></p>
                <p>{{ forma.referencia }}</p>
                <p>{{ forma.explicacao }}</p>
            </div>
        </div>
    </section> -->



    <!-- <section class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-5 text-center p-0">
            <img class="img-fluid" src="../static/css/img/Estudos.svg" alt="Imagem ilustrativa para introduzir estudos"
                width="50%">
        </div> -->
    <!-- <img class="img1" src="../static/css/img/boas-vindas.svg" alt="Aspinha (personagem do site) dando boas-vindas!"
            width="50%">
        <div> -->
    <!-- <div class="mt-4 col-md-5 col-lg-5 p-0 row justify-content-center align-items-center">
            <div class="mt-4 text-justify" style="width: 80%;">
                <p>Para que você se aprofunde mais no referencial
                    teórico utilizado nesse site, trazemos nessa página os principais
                    nomes que tomamos para estudos e suas respectivas produções: sejam artigos
                    ou livros. Além de uma breve síntese dos trabalhos que tomamos como bases,
                    ao fim de cada uma delas haverá um link de acesso ao download ou página
                    de pesquisa dos estudos correspondentes.</p>
            </div>
        </div>
    </section> -->

    <hr class="mb-5"
        style="width: 80%; margin: auto; margin-bottom: 30px; margin-top: 30px; background-color: #0284C7;">

    <section style="margin-bottom: 16%;">
        <div class="card-group m-5">
            <div class="card">
                <img class="card-img-top" src="../static/css/img/autor1.svg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title mb-5">Boch e Grossmann</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLongoExemplo">
                        Abrir
                    </button>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/css/img/autor2.svg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title mb-5">Hyland</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLongoExemplo2">
                        Abrir
                    </button>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/css/img/autor3.svg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title mb-5">Motta-Roth e Hendges</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLongoExemplo3">
                        Abrir
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal 1-->
        <div class="modal fade" id="ModalLongoExemplo" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Boch e Grossmann</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">
                        <p>Françoise Boch e Francis Grossmann foram responsáveis
                            por um estudo comparativo entre as formas de menção
                            às vozes da ciência no meio acadêmico, tal como
                            utilizadas por especialistas e iniciantes. Trata-se
                            do artigo “Referir-se ao discurso do outro: alguns
                            elementos de comparação entre especialistas e
                            principiantes”, no qual os pesquisadores fazem uma
                            análise da forma e das funções como as citações são
                            apresentadas no meio acadêmico aos estudantes que
                            futuramente poderão ser responsáveis pela construção
                            de pesquisas. As colocações dos autores voltam-se à
                            forma como tais apresentações são tradicionalmente
                            abordadas nos manuais de metodologia científica: de
                            modo “moralizador e tecnicista” (Boch; Grossmann,
                            2002, p.97). Diante disso, os autores defendem uma maior
                            inclusão das citações aos trabalhos desses estudantes,
                            de modo que tais estratégias argumentativas proporcionem
                            a eles uma maior legitimação. Como principal resultado de
                            seus estudos no assunto, Boch e Grossmann trarão ainda
                            definições de formas e funções atribuídas ao discurso
                            de outrem.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <a href="https://periodicos.pucminas.br/index.php/scripta/article/view/12452/9767"
                            target="_blank">
                            <button type="button" class="btn btn-primary">
                                Acessar material</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2-->
        <div class="modal fade" id="ModalLongoExemplo2" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Hyland</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">
                        <p>A obra “Disciplinary Discourses: Social Interactions in Academic Writing” tem como escritor o
                            notório linguista britânico Ken Hyland. O livro retrata como a vivência social dos
                            pesquisadores influi em sua forma particular de escrita, analisando como em cada disciplina
                            seus pesquisadores/escritores podem ter estratégias diferentes para agir com quem trabalham
                            e para as pessoas que terão acesso a seus trabalhos. Em certo ponto do texto, o autor
                            ressalta como a intertextualidade, representada pela referência ao discurso de outrem,
                            demonstra conhecimento adequado do autor sobre seu assunto e ressalta a possibilidade de
                            discussão dos textos mencionados. Além disso, o linguista discute em seu livro como as
                            marcações de citações (sejam por verbos, pronomes, frases nominais ou outras formas)
                            refletem “diferentes significado retóricos e sociais” (Hyland, 2000, p.22), de modo que ao
                            escrever para determinada comunidade, passamos a inteirar estratégias diferentes, que podem
                            ser muito bem representadas pelas formas de citação às vozes da ciência.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <a href="https://muse.jhu.edu/book/22712" target="_blank">
                            <button type="button" class="btn btn-primary">
                                Acessar material</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3-->
        <div class="modal fade" id="ModalLongoExemplo3" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Motta-Roth e Hendges</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">
                        <p>Désirée Motta-Roth e Gabriela Rabuske Hendges são professoras brasileiras que tiveram como
                            grande produção em conjunto o livro “Produção textual na universidade”. O grande objetivo
                            desse trabalho está em ensinar a arte da publicação de artigos, bem como de resenhas e
                            projetos de pesquisa, retratando não só o formato do texto, mas também a sua argumentação e
                            o seu conteúdo. Levando em conta esse viés, as autoras trazem em sua obra a importância da
                            “revisão da literatura” (Motta-Roth; Hendges, 2010, p. 90), valorizando o conhecimento
                            prévio e um dos maiores instrumentos para abordagem da literatura na produção textual da
                            universidade: a citação. Além dessa, uma das outras várias funções dessa revisão é
                            “utilizar, reconhecer e dar crédito à criação intelectual de outros(as) autores(as)”
                            (Motta-Roth; Hendges, 2010, p. 90), ações muito bem realizadas pelo uso da menção à voz de
                            outrem.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <a href="https://www.parabolaeditorial.com.br/producao-textual-na-universidade-82030886"
                            target="_blank">
                            <button type="button" class="btn btn-primary">
                                Acessar material</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

{% endblock %}