{% extends 'base.html' %}

{% block title %}
Sobre Nós
{% endblock %}

{% block center %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_Sobre.css" rel="stylesheet" />

<h1><strong>Sobre nós</strong></h1>

        <div class="container">
            <img class="espaçoImg" src="" alt="Imagem ilustrativa de contribuição em equipe"
                height="600px" width="500px">

            <section class="largura">

                <h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg><i>Nossos objetivos</i></h4>

                <p>
                    Como estudantes do ensino médio e acima de tudo pesquisadores iniciantes, 
                    valorizamos o uso de vozes da ciência para credibilizar e qualificar nossos 
                    trabalhos. Queremos, portanto, que você também possa adquirir valorização 
                    por essa ferramenta de argumentação tão comprovada. Queremos ainda que 
                    esse gosto pelo assunto seja adquirido em um meio fácil, prático e confiável. 
                    Desse modo, construimos esse site para que ele possa ser acessado a 
                    qualquer momento, transmitindo conhecimento útil e claro e permitindo que 
                    bons pesquisadores sejam cada dia mais formados.
                </p>

            </section>

        </div>

        <div class="container" id="parteAzul">
            <div class="caixasDeTexto" id="center">
                <section id="parteSobreNos">
                    <h4>Quem somos?</h4>

                    <p>
                        <br>
                        Estudantes do Instituto Federal do Rio Grande do Norte, Campus Pau dos Ferros; 
                        pesquisadores iniciantes e com propósitos de aprimoramos nossa comunicação 
                        no meio escolar, acima de tudo pela escrita acadêmica; indivíduos dispostos a 
                        orientar mais pessoas que já buscam melhorias em seus projetos, ou mesmo 
                        aqueles que ainda não sabem que precisam delas. 

                    </p>

                </section>
            </div>
        </div>
        <div class="container">
            <img class="espaçoImg" src="" alt="Imagem ilustrativa de contribuição em equipe"
                height="400px" width="400px">

            <section class="largura">

                <h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg><i>Nossas dicas</i></h4>

                <p>
                    Integre mais as vozes da ciência em seu texto! São pessoas que passaram anos de suas vidas se
                    aprofundando em um assunto a fim de
                    expor seus resultados e auxiliar estudos futuros, inclusive o seu!
                    <br>
                    <br>
                    Administre as suas citações, a fim de que ao concluir seu projeto você possa atribuir a todos
                    aqueles com os quais
                    você tomou embasamento seu devido reconhecimento!<br>
                    <br>
                    Não só “copie e cole” a ideia do outro: interprete, acrescente e se for preciso até discuta. Mesmo
                    que tomando
                    como base as obras de outrem, o trabalho deve ser feito para que você exponha suas próprias opiniões
                    e conclusões do assunto!<br>
                    <br>
                    Tome cuidado para não referenciar de forma desnecessária. Referências perdidas, fora de contexto ou
                    não muito
                    claras irão tornar seu serviço subestimado!

                </p>

            </section>

        </div>
        
        <hr>

        <div id="imgSobreNos">
            <img src="" alt="Imagem personagem Aspinha em Sobre Nós" width="1100vw">
        </div>
        
        <div id="containerFotos">
            <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Rillary Yasmin Vieira Alves</p>
        </div>
   
        <br>
        <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Eduardo Gonçalves de Carvalho</p>
        </div>
        </div>

        <div id="containerFotos">
            <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Rillary Yasmin Vieira Alves</p>
        </div>
   
        <br>
        <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Eduardo Gonçalves de Carvalho</p>
        </div>
        </div>
        
        <h5>Antigas pesquisadoras</h5>

        <div id="containerFotos">
            <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Rillary Yasmin Vieira Alves</p>
        </div>
   
        <br>
        <div class="fotos">
            <img src="" alt="" width="150px" height="150px">
            <p>Eduardo Gonçalves de Carvalho</p>
        </div>
        </div>


{% endblock %}