{% extends 'base.html' %}

{% block title %}
Sobre Nós
{% endblock %}

{% block center %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="../static/css/styles_Sobre.css" rel="stylesheet" />

<section class="container-fluid p-0 mb-5">

    <div class="container text-center">
        <h1 class="mb-3 mt-5"><strong>Sobre nós</strong></h1>
    </div>

    <section class="container p-0" id="intro">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 col-lg-5 text-center p-4">
                <img class="img-fluid" src="../static/css/img/sobre1.svg"
                    alt="Imagem ilustrativa de contribuição em equipe">
            </div>
            <div class="mt-4 col-md-5 col-lg-5 p-4 text-justify" style="width:100%;">
                <h4><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg><i>Nossos objetivos</i></h4>
                <p>
                    Como estudantes do ensino médio e acima de tudo pesquisadores iniciantes,
                    valorizamos o uso de vozes da ciência para credibilizar e qualificar nossos
                    trabalhos. Queremos, portanto, que você também possa adquirir valorização
                    por essa ferramenta de argumentação tão comprovada. Queremos ainda que
                    esse gosto pelo assunto seja adquirido em um meio fácil, prático e confiável.
                    Desse modo, construimos esse site para que ele possa ser acessado a
                    qualquer momento, transmitindo conhecimento útil e claro e permitindo que
                    bons pesquisadores sejam cada dia mais formados.
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid m-0 mt-4">
        <section id="FundoAzul" class="row justify-content-center align-items-center">
            <div id="FundoBranco" class="col-8 d-flex flex-column align-items-center">
                <h3 class="mb-4">Quem somos?</h3>
                <p class="text-lg-center text-justify col-10 col-md-6 col-lg-8 m-0">
                    Estudantes do Instituto Federal do Rio Grande do Norte, Campus Pau dos Ferros;
                    pesquisadores iniciantes
                    e com propósitos de aprimoramos nossa comunicação no meio escolar,
                    acima de tudo pela escrita
                    acadêmica; indivíduos dispostos a orientar mais pessoas que já
                    buscam melhorias em seus projetos, ou mesmo
                    aqueles
                    que ainda não sabem que precisam delas.
                </p>
            </div>
        </section>
    </section>



    <section class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-6 col-lg-5 text-center p-4">
                <img class="img-fluid" src="../static/css/img/sobre2.svg" alt="Imagem ilustrativa de dicas"
                    width="100%">
            </div>
            <div class="mt-4 col-md-6 col-lg-5 p-4 text-justify" style="width: 100%;">
                <h4><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg><i>Nossas dicas</i></h4>
                <p>
                    Integre mais as vozes da ciência em seu texto! São pessoas que passaram anos de suas vidas se
                    aprofundando em um assunto a fim de
                    expor seus resultados e auxiliar estudos futuros, inclusive o seu!
                    <br>
                    <br>
                    Administre as suas citações, a fim de que ao concluir seu projeto você possa atribuir a todos
                    aqueles com os quais
                    você tomou embasamento seu devido reconhecimento!<br>
                    <br>
                    Não só “copie e cole” a ideia do outro: interprete, acrescente e se for preciso até discuta. Mesmo
                    que tomando
                    como base as obras de outrem, o trabalho deve ser feito para que você exponha suas próprias opiniões
                    e conclusões do assunto!<br>
                    <br>
                    Tome cuidado para não referenciar de forma desnecessária. Referências perdidas, fora de contexto ou
                    não muito
                    claras irão tornar seu serviço subestimado!
                </p>
            </div>
        </div>
    </section>

    <hr style="width: 90%; margin: auto; margin-bottom: 90px; margin-top: 90px;">

    <section class="container-fluid m-0">
        <div class="mb-5">
            <img class="img-fluid" src="../static/css/img/Sobre.svg" alt="Imagem introdutória de nossa equipe"
                width="100%">
        </div>
    </section>

    <section style="margin-bottom: 120px;">
        <div id="containerFotos" class="row justify-content-center align-items-center">
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/rillary.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Rillary Alves</strong></p>
                    <p>Estudante do curso Técnico Integrado em
                        Informática do IFRN - Campus Pau dos Ferros.</p>
                </div>
            </div>
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/eduardo.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Eduardo Carvalho</strong></p>
                    <p>Estudante do curso Técnico Integrado em
                        Informática do IFRN - Campus Pau dos Ferros.</p>
                </div>
            </div>
        </div>

        <div id="containerFotos" class="row justify-content-center align-items-center">
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/evandro.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Evandro Leite</strong></p>
                    <p>Graduado em Letras com habilitação em
                        Língua Portuguesa pela UERN (2006);
                        mestrado em Linguística pela UFPB (2009)
                        e doutorado em Letras pela UERN (2019).</p>
                </div>
            </div>
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/kaio.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Kaio Dantas</strong></p>
                    <p>Graduado em Tecnologia em Redes de Computadores
                        pelo IFRN e Especialização com MBA em Gestão de
                        Tecnologia da Informação (UNIDERP). Mestrando pela UFERSA.</p>
                </div>
            </div>
        </div>

        <div class="justify-content-center text-center d-flex mt-2 mb-2">
            <h2>Antigas pesquisadoras</h2>
        </div>

        <div id="containerFotos" class="row justify-content-center align-items-center">
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/eduarda.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Maria Eduarda Teixeira</strong></p>
                    <p>Estudante do curso Técnico Integrado em
                        Informática do IFRN - Campus Pau dos Ferros.</p>
                </div>
            </div>
            <div class="fotos" class="col-md-5 col-lg-5 text-center p-4 mb-3">
                <div>
                    <img src="../static/css/img/vitória.svg" alt="" width="150px" height="150px">
                </div>
                <div>
                    <p><strong>Vitória Naomí Martins</strong></p>
                    <p>Estudante do curso Técnico Integrado em
                        Informática do IFRN - Campus Pau dos Ferros.</p>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}