* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fdf4ff;
    overflow-x: hidden;
    color: #0C4A6E;
    font-size: 16px !important;
}

p{
    font-size: 14px;
    line-height: 27px;
    margin: 18px 0 18px 0;
}

#intro {
    width: 90%;
    text-align: center;
    margin: auto;
}

.boxazul {
    width: 100%;
    background-color: #075985;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 16% 0px 16% 0px;
}

.logo {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixasDeTexto {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 0 60px 0 60px;
    background-color: #FFFFFF;
    border: 1px solid #0C4A6E;
    border-radius: 60px;
}

main section {
    align-items: center;
    justify-content: center;
}

#parteSobreNos {
    text-align: center;
    padding: 60px 70px;
}

.linha {
    text-align: center;
    color: #0284C7;
    margin: 50px 0 50px 0;
}


#center {
    display: flex;
    margin: auto;
    text-align: center;
}

#TextoBoxAzul {
    font-size: 18px;
}

.boxAzul {
    width: 100%;
    background-color: #075985 !important;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 16% 0px 16% 0px;
}

#FundoBranco {
    background-color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
}

#FundoAzul {
    background-color: #075985;
    padding-top: 14%;
    padding-bottom: 14%;
}

.caixasDeTexto {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 180px;
    padding: 0 60px 0 60px;
    background-color: #FFFFFF;
    border: 1px solid #0C4A6E;
    border-radius: 30px;
}

.parteAzul {
    width: 100%;
    height: 638px;
    background-color: #075985;
    margin-bottom: 100px;
}

.espaçoImg {
    margin-right: 120px;
}

#imgQuemSomos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.largura {
    width: 550px;
    text-align: justify;
}

.espaçoSinal {
    margin-right: 10px;
}

.titulos {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: -10px;
}

#containerFotos {
    margin: auto;
    padding-top: 20%;
    padding-bottom: 18%;
    color: #FFFFFF;
}

.fotos {
    width: 500px;
    padding: 20px;
    margin: auto;
    display: flex;
    text-align: left;
    background-color: #0284C7;
}

.fotos img {
    margin-right: 50px;
}

.fotos p {
    font-size: 18px;
}

h4 {
    font-size: 30px;
}