* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fdf4ff;
}

main {
    font-size: 14px;
    color: #075985;
    min-height: calc(100vh - 263px);
}

nav li,
a {
    justify-content: space-around;
    display: inline;
    line-height: 27px;
    margin: 0px 18px 0 0;
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
    color: #FFF6F6;
}

main h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
}

p,
li {
    font-size: 14px;
    line-height: 27px;
    margin: 18px 0 18px 0;
}

.logo {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixasDeTexto {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 800px;
    height: 350px;
    padding: 0 60px 0 60px;
    background-color: #FFFFFF;
    border: 1px solid #0C4A6E;
    border-radius: 60px;
}

main section {
    align-items: center;
    justify-content: center;
}

#parteSobreNos {
    text-align: center;
    padding: 60px 70px;
}

.linha {
    text-align: center;
    color: #0284C7;
    margin: 50px 0 50px 0;
}


#center {
    display: flex;
    margin: auto;
}

#parteAzul {
    width: 100%;
    height: 638px;
    background-color: #075985;
    margin-bottom: 100px;
}

.espaçoImg {
    margin-right: 120px;
}

#imgQuemSomos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.largura {
    width: 550px;
    text-align: justify;
}

.espaçoSinal {
    margin-right: 10px;
}

.titulos {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: -10px;
}

#containerFotos{
   margin: auto;
   padding-top:70px;
   padding-bottom: 60px;
   color:#FFFFFF;
}

.fotos{
    width:500px;
    padding:20px;
    margin:auto;
    display:flex;
    align-items: center;
    text-align: left;
    background-color: #0284C7;
}

.fotos img{
    margin-right: 50px;
}

.fotos p{
    font-size: 18px;
}

h4{
    font-size: 30px;
}